<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <title th:text="#{login}">系统登录</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script type="text/javascript" charset="utf-8" src="../static/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../static/ueditor.all.min.js"> </script>
    <script src='./mip-ueditor.min.js' charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://mipcache.bdstatic.com/static/v1/mip.css">
</head>

<body>
        <mip-ueditor>
            <p>我就单纯测试一下</p>
        </mip-ueditor>
</body>
<style>
    .login-wrap__form .alert.alert-mini {
        margin-right: 45%;
    }
    .login-wrap__form form {
        color: #fff;
        position: relative;
        top: 10px;
        width: 520px;
    }
    #password:focus{
        border:1px solid #4E5B85;
    }
    #userName:focus{
        border:1px solid #4E5B85;
    }
    mip-ueditor p {
        color: #333;
    }

</style>

















</body>
</html>